//mobile-only styling

section.content {
    padding: 32px 0px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    main {
        max-width: 85vw;
        //max-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    
}

div#contact-modal {
    align-items: flex-start;
    align-self: flex-start;
    
    .modal-content {
        margin-top: 8px;
        overflow-y: scroll;
    }
}

footer {
    div#footer-content {
        flex-direction: column;
        justify-content: flex-start;

        section {
            margin: 8px 0px;
        }
    }
}
